body{
  background-color: black;
  font-family:'Courier New', Courier, monospace;
  color: white;
}
.container{
  margin: auto;
  margin-top: auto;
  width: 60%;
  display: flex;
  background-color: black;
}

.tit{
  text-align: center;
  font-size: 350%;
}

.row{
  border: 2px solid white;
  border-right: 1px solid white;
  background-color: black;
  border-top: none;
  margin: 0px;
  flex-grow: 1;
  border-radius: 30px;
}
.ball{
  border-radius: 99999px;
  width: 70%;
  height: 0;
  padding-bottom: 70%;
  margin: auto;
  background-color: transparent;
}
.ballw{
  border-radius: 99999px;
  width: 70%;
  height: 0;
  padding-bottom: 70%;
  margin: auto;
  background-color: white;
}
.ballg{
  border-radius: 99999px;
  width: 70%;
  height: 0;
  padding-bottom: 70%;
  margin: auto;
  background-color: grey;
}
.arrowg{
  margin-bottom: 10px;
  width: 100%;
  font-size: 300%;
  color: grey;
}
.arroww{
  margin-bottom: 10px;
  color: white;
  width: 100%;
  font-size: 300%;
}
#ars{
  font-size: 300%;
}
#art{
  color: transparent;
}
.popup{
  position: fixed;
  left: 34%;
  border-radius: 20px;
  padding: 7.5%;
  background-color: white;
  font-size: xx-large;
  color: black;
  align-items: center;
  justify-self: center;
}
button{
  padding: 10px;
  margin: 12px;
  padding-right: 60px;
  padding-left: 60px;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}
